@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
  /* Colores de Fondo */
  --color-main: #faf7f6;
  --color-surface: #1e293b;
  
  /* Colores de Texto */
  --color-primary: #161616;
  --color-secondary: #94a3b8;

  /* Colores de Acento */
  --color-accent: #61dcfb;

  /* Fuentes */
  --font-funnel: 'Funnel Display', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Box shadows */
  --shadow-primary: #393939ac 0px 6px 14px;

  /* Animations */
  --animate-aurora-slow: aurora-one 20s infinite alternate ease-in-out;
  --animate-aurora-delayed: aurora-two 25s infinite alternate ease-in-out;
  --animate-float-bounce: float-bounce 2s infinite alternate ease-in-out;
}

@keyframes aurora-one {
  0% { transform: translate(0px, 0px) scale(1); }
  50% { transform: translate(100px, 80px) scale(1.2); }
  100% { transform: translate(-50px, 150px) scale(0.9); }
}

@keyframes aurora-two {
  0% { transform: translate(0px, 0px) scale(1.1); }
  50% { transform: translate(-120px, -60px) scale(0.8); }
  100% { transform: translate(80px, -120px) scale(1.3); }
}

@keyframes float-bounce {
  0% { transform: translatey(0px); }
  100% { transform: translatey(20px); }
}

html {
  scroll-behavior: smooth;
}

/* Estilos globales básicos */
body {
  background-color: var(--color-main);
  color: var(--color-primary);
  font-family: var(--font-funnel);
  overflow-x: hidden;
}

.word {
  display: inline-block;
}

.char {
  opacity: calc(0.15 + (0.85 * var(--char-progress, 0)));
  transition: 50ms linear;
}